<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">Profile</h2>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4 fw-bold">Username:</div>
            <div class="col-md-8"><%= @user.username %></div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-4 fw-bold">Email:</div>
            <div class="col-md-8"><%= @user.email %></div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-4 fw-bold">Joined:</div>
            <div class="col-md-8"><%= l(@user.created_at.to_date, format: :long) %></div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-4 fw-bold">Last sign in:</div>
            <div class="col-md-8">
              <% if @user.last_sign_in_at %>
                <%= l(@user.last_sign_in_at, format: :long) %>
              <% else %>
                No sign-in recorded
              <% end %>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-4 fw-bold">Sign in count:</div>
            <div class="col-md-8"><%= @user.sign_in_count %></div>
          </div>
        </div>
        
        <div class="card-footer">
          <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
